/* Стиль для слайдера */
#price-slider {
    width: 176px;
    height: 4px;
}

/* Стили ползунков */
.noUi-horizontal .noUi-handle {
    top: -9px;

    width: 20px;
    height: 20px;
    border: none;

    border-radius: 50%;
    background-image: url('../images/filter-button.png');
    cursor: pointer;
}

/* Декоративные полоски на ползунках */
.noUi-handle:after, .noUi-handle:before {
    display: none;
}

/* Линия слайдера */
.noUi-target, .noUi-base {
    background: #d1dad3; /* Цвет линии */
    border-radius: 0;
}

.noUi-connect {
    background-color: #f8f7f4; /* Цвет соединённой части */
}